{% extends 'base.html' %}

{% block title %}

{% endblock title %}
{% block content %}
	<main>
        <div>
	    <h1>My Categories</h1>
		<table>
		    <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
			</thead>
			<tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                        <!--length is the count of receipts, we want the number count.-->
                    </tr>
                {% endfor %}
		    </tbody>
		</table>
        </div>
	</main>
{% endblock content %}